* { margin: 0; padding: 0;}
html, body {
  width: 100vw;
  min-height: 100vh;
}

#images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.picture {
    flex: 1 1 0;
    text-align: center;
    border: 1px solid black;
}

#forum {
    flex-grow: 1;
    padding: 10px;
    overflow-y: scroll;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
